.primary-header {
    color: $primary-color-text;
    text-align: center;
    font-size: 7rem;
    letter-spacing: 0.12rem;
}

.secondary-header {
    color: $primary-color-text;
    text-align: center;
    font-size: 5rem;
    margin-bottom: $gutter-small;
}

.tertiary-header {
    color: $secondary-text-color;
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: $default-font-size;
    font-weight: 400;
    margin-bottom: $gutter-small;
    width: 70vw;
    margin-left: 15vw;
}