.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button-row {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-large {
    min-width: 18rem;
    height: 6rem;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 10px;
    margin: 0 1rem;
}

.btn-medium {
    height: 4rem;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 10px;
    margin: 0 1rem;
    padding: 0 $gutter-xsmall;
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
}

.btn-transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-1 {
    background-color: $color-lime;
    color: $color-black;
}

.btn-2 {
    background-color: $color-indigo;
    color: $color-black;
}

.btn-3 {
    background-color: $color-amber;
    color: $color-black;
}