  .gradient-text {
    text-align: center;
    background-image: linear-gradient(to right, $secondary-blue-color, $primary-blue-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @media only screen and (min-width: 321px) {
      letter-spacing: 0.15rem;
    }
  }
